<% div_for forum, :class => 'listed' do %>
  <table class="listed-table full-width">
    <tr>
      <% if has_administrator_role? %>
        <td rowspan="2">
          <span class="sort-handle"><%= icon_label(:grab, t(:reorder, :scope => [ :content ])) %></span>
        </td>
      <% end %>
      <td class="column-top listed-descriptor forum-descriptor">
        <p class="forum-name"><%= link_to_resource(forum) %></p>
        <p class="forum-description"><%= h(forum.description) %></p>
      </td>
      <td class="column-top align-right">
        <p class="forum-topics"><span class="strong"><%= tp(:topic, :scope => [ :content ]) %></span>: <%= forum.topics_count %></p>
        <p class="forum-posts"><span class="strong"><%= tp(:post, :scope => [ :content ]) %></span>: <%= forum.posts_count %></p>
      </td>
    </tr>
    <% if is_moderator_of?(forum) %>
      <tr>
        <td>
          <%= render_actions([
            icon_link_to(:edit, t(:edit), edit_object_path(forum)),
            icon_link_to(:delete, t(:delete), forum, :confirm => t(:are_you_sure), :method => :delete) ]) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
