<div class="comment listed">
  <table class="listed-table full-width">
    <tr>
      <td class="align-top listed-descriptor">
        <% if comment.user %>
          <%= image_link_to_user(comment.user, :image_style => :thumb) %>
        <% else %>
          <%= image_tag('/images/default/users/images/missing_thumb.png', :class => 'user-image') %>
        <% end %>
        <p class="listed-info"><%= comment_author(comment) %></p>
        <p class="listed-info"><%= comment.created_at.to_s(:short) %></p>
      </td>
  
      <td class="align-top">
        <%= render_formatted(comment.body, :truncate => 100) %>

        <% if is_editor_of?(comment) %>
          <%= render_actions([ icon_link_to(:edit, t(:edit), edit_comment_path(comment)) ]) %>
        <% end %>
      </td>
    </tr>
  </table>
</div>