<% title h(@article.name) %>

<%= render_heading(h(@article.name)) %>

<%= render_field(content_tag(:span, @article.updated_at.to_s(:long), :class => 'timestamp')) %>

<%= render_field(tp(:author, :scope => [ :content ]), @article.authors.map { |user| user.name }.to_sentence) %>

<% if @article.revisionable? %>
  <%= render_field(t(:revision, :scope => [ :content ]), @article.revision) %>
<% end %>

<% if is_reviewable?(@article) %>
  <%= render_field(render_rating(@article)) %>
<% end %>

<% if @article.medias.any? %>
  <div class="medias">
    <%= render :partial => 'medias/show', :collection => @article.medias, :as => :media %>
  </div>
<% end %>

<%= render_article(@article) %>

<%= render_comments(@article) %>

<%= render_reviews(@article) %>

<% page_actions << link_to_resource(@article.resource) %>
<% page_actions << icon_link_to(:edit, t(:edit_object, :object => t(:article, :scope => [ :content ])), edit_object_path) if is_editor_of?(@article) %>
<% page_actions << icon_link_to(:add, t(:add_object, :object => t(:article, :scope => [ :content ])), new_article_article_path(@article)) if @article.heirarchical? && has_permission?(Action.add_article, @article) %>
