<% jscolor_init %>

<script type="text/javascript">
  function previewUrl() {
    return "<%= preview_themes_path(:theme_id => theme.id || current_theme.id) %>" + <%= theme_url_params(theme) %>;
  }

  function updatePreview() {
    document.getElementById('theme-preview').src = previewUrl();
  }
  
  var current_theme_element_id = <%= theme.theme_elements.first.id %>;
  
  function showThemeElement(id) {
    var theme_element = $("theme_element_" + current_theme_element_id);
    if (theme_element)
      theme_element.hide();
    current_theme_element_id = id;
    theme_element = $("theme_element_" + current_theme_element_id);
    if (theme_element)
      theme_element.show();
  }
  
  document.observe("dom:loaded", function() {
    $("theme_element_" + current_theme_element_id).show();
  });
</script>

<%= f.text_field :name, :label => { :name => t(:theme_name, :scope => [ :themes ]) }, :required => true %>

<hr />

<table class="full-width">
  <tr>
    <td class="align-top">
      <div class="form-field">
        <div class="label">
          <%= tp(:theme_element, :scope => [ :themes ]) %>
        </div>
      </div>
        
      <%= render :partial => 'themes/theme_element_select', :locals => { :theme => theme } %>
    </td>
    <td>
      <% f.form_for :theme_elements, :render => { :partial => 'themes/edit_theme_element', :layout => false } %>
    </td>
  </tr>
</table>

<hr />

<%= render_heading(t(:preview)) %>

<p align="center"><iframe id="theme-preview" src="<%= preview_themes_path(:theme_id => theme.id || current_theme.id) %>" width="860" height="350" scrolling="no"></iframe></p>
