<% title t(:theme, :scope => [ :themes ]) %>

<%= render_heading("#{t(:theme, :scope => [ :themes ])}: #{@theme.name}") %>

<%= render_heading(t(:preview, :scope => [ :themes ])) %>

<% if has_administrator_role? %>
  <% unless current_theme.id == @theme.id %>
    <%= render_field(t(:apply_to_object, :scope => [ :themes ], :link => icon_link_to(:edit, t(:apply, :scope => [ :themes ]), apply_theme_path(@theme), :method => :post), :object => site_name)) %>
  <% end %>
<% elsif is_editor_of?(@themeable) %>
  <% unless @themeable.theme_id == @theme.id %>
    <%= render_field(t(:apply_to_object, :scope => [ :themes ], :link => icon_link_to(:edit, t(:apply, :scope => [ :themes ]), apply_theme_path(@theme, :themeable_type => @themeable.class.to_s, :themeable_id => @themeable.id), :method => :post), :object => @themeable.name)) %>
  <% end %>
<% end %>

<p align="center"><iframe src="<%= preview_themes_path(:theme_id => @theme.id) %>" width="860" height="600" style="margin-left: auto; margin-right: auto"></iframe></p>
