<table class="form-table">
  <tr>
    <td>
      <%= f.text_field :name, :label => { :name => t(:display_name, :scope => [ :authentication ]) },
        :hint => t(:user_name_hint, :scope => [ :site_content ]) %>
    </td>
    <td>
      <%= f.text_field :email, :label => { :name => t(:primary_email, :scope => [ :authentication ]) },
        :required => true, :hint => t(:contact_hint, :scope => [ :site_content ]) %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
    </td>
    <td>
      <% if Configuration.users_locale %>
        <%= f.locale_select(:locale_id, :localized => true) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <% if user.try(:image?) %>
        <div class="form-element"><%= image_tag(user.image.url(:thumb)) %></div>
      <% end %>
    </td>
    <td>
      <%= f.file_field :image %>
    </td>
  </tr>
</table>

<%= render_heading(t(:settings)) %>

<table class="form-table">
  <tr>
    <td>
      <%= f.yes_no_select :mailer_alerts, :label => { :name => t(:mailer_alerts, :scope => [ :content ]) },
        :hint => t(:mailer_alerts_hint, :scope => [ :content ]) %>
    </td>
    <% if Configuration.contactable_users %>
      <td>
        <%= f.yes_no_select :public_contact, :label => { :name => t(:public_contact, :scope => [ :contacts ]) },
          :hint => t(:public_contact_hint, :scope => [ :contacts ]) %>
      </td>
    <% end %>
  </tr>
</table>

<% f.form_for :persona, :heading => t(:personal_details, :scope => [ :contacts ]) %>

<% if Configuration.contactable_users %>
  <% f.contact_form %>
<% end %>