<% if defined?(user_groups) %>
  <% if user_groups.length == 1 %>
    <%= render_field(t(:group, :scope => [ :authentication ]), user_groups.first.name) %>
    <%= hidden_field_tag(:user_group_id, user_groups.first.id) %>
  <% else %>
    <% f.labeled_field(:group) do %>
      <%= select_tag(:user_group_id, option_tags(user_groups.map { |group| [ group.name, group.id ] })) %>
    <% end %>
  <% end %>
<% end %>

<table class="form-table">
  <tr>
    <td>
      <%= f.text_field :login, :required => true %>
    </td>
    <td>
      <%= f.text_field :name, :label => { :name => t(:display_name, :scope => [ :authentication ]) }, :required => true %>
    </td>
    <td>
      <%= f.text_field :email, :required => true %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.password_field :password, :required => true %>
    </td>
    <td>
      <%= f.password_field :password_confirmation, :required => true %>
    </td>
    <% if Configuration.users_locale %>
      <td>
        <%= f.locale_select(:locale_id, :localized => true, :required => true) %>
      </td>
    <% end %>
  </tr>
  <tr>
    <td>
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :required => true %>
    </td>
    <td>
      <%= f.file_field :image %>
    </td>
  </tr>
</table>

<hr />

<%= render_heading(t(:settings)) %>

<table class="form-table">
  <tr>
    <td>
      <%= f.yes_no_select :mailer_alerts, :label => { :name => t(:mailer_alerts, :scope => [ :content ]) },
        :hint => t(:mailer_alerts_hint, :scope => [ :content ]) %>
    </td>
    <% if Configuration.contactable_users %>
      <td>
        <%= f.yes_no_select :public_contact, :label => { :name => t(:public_contact, :scope => [ :contacts ]) },
          :hint => t(:public_contact_hint, :scope => [ :contacts ]) %>
      </td>
    <% end %>
  </tr>
</table>

<% unless user.persona.nil? %>
  <hr />

  <%= render_heading(t(:personal_details, :scope => [ :contacts ])) %>

  <%= f.form_for :persona, :render => { :partial => 'personas/edit' } %>
<% end %>

<% if Configuration.contactable_users %>
  <hr />

  <%= f.contact_form %>
<% end %>