<% title h(@article.name) %>

<%= render_heading(h(@article.name)) %>

<%= render_field(content_tag(:span, @article.created_at.to_s(:long), :class => 'timestamp')) %>

<% if is_reviewable?(@article) %>
  <%= render_field(render_rating(@article)) %>
<% end %>

<% if @article.medias.any? %>
  <div class="medias">
    <%= render :partial => 'medias/show', :collection => @article.medias, :as => :media %>
  </div>
<% end %>

<%= render_article(@article) %>

<%= render_comments(@article) %>

<%= render_reviews(@article) %>

<% page_actions << link_to(@article.resource.name, @article.resource) %>
<% page_actions << icon_link_to(:edit, t(:edit_object, :object => t(:article, :scope => [ :content ])), edit_object_path) if is_editor_of?(@article) %>
