<% if defined?(Geographer) %>
  <% head geographer_header %>
<% end %>

<table class="show-table" align="center">
  <tr>
    <td>
      <%= render_field(t(:street, :scope => [ :contacts, :addresses ]), h(address.streets.join(", "))) %>

      <%= render_field(t(:city, :scope => [ :contacts, :addresses ]), h(address.city)) %>

      <%= render_field(t(:postal_code, :scope => [ :contacts, :addresses ]), h(address.postal_code)) %>

      <%= render_field(t(:region, :scope => [ :contacts, :addresses ]), h(address.region.name)) %>

      <%= render_field(t(:country, :scope => [ :contacts, :addresses ]), h(address.country.name))%>
    </td>
    <% if defined?(Geographer) %>
      <td>
        <div class="map">
          <%= map_tag(:mappable => address) %>
        </div>
      </td>
    <% end %>
  </tr>
</table>