<% if logged_in? %>
  <p><%=t :logged_in_as_user, :scope => [ :authentication ], :user => h(current_user.name) %></p>
  <p><%= button_link_to(t(:home), home_path) %></p>
  <p><%= button_link_to(t(:logout, :scope => [ :authentication ]), logout_path) %></p>
<% else %>
  <div class="login-form">
    <% form_for :user_session, :url => user_session_path do |f| %>
      <%= f.text_field :login %>

      <%= f.password_field :password %>
 
      <%= f.check_box :remember_me %>

      <%= f.submit t(:login, :scope => [ :authentication ]) %>
      
      <%= render_actions([
          link_to(t(:join, :scope => [ :authentication ]), new_user_path),
          link_to(t(:forgot_password, :scope => [ :authentication ]), forgot_password_path)
      ]) %>
    <% end %>
  </div>
<% end %>