<% if logged_in? %>
  <p><%=t :logged_in_as_user, :scope => [ :authenticate ], :user => h(current_user.name) %></p>
  <p><%= button_link_to(t(:home), home_path) %></p>
  <p><%= button_link_to(t(:logout, :scope => [ :authenticate ]), logout_path) %></p>
<% else %>
  <% form_tag user_session_path do %>
    <table class="form-field">
      <tr>
        <td>
          <div class="label">
            <%=t :login, :scope => [ :authenticate ] %>:
          </div>
        </td>
        <td>
          <div class="input">
            <%= text_field_tag 'user_session[login]' %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="label">
            <%=t :password, :scope => [ :authenticate ] %>:
          </div>
        </td>
        <td>
          <div class="input">
            <%= password_field_tag 'user_session[password]' %>
          </div>
        </td>
      </tr>
    </table>
 
    <p>
      <small><%=t :remember_me, :scope => [ :authenticate ] %>:
      <%= check_box_tag 'user_session[remember_me]' %></small>
      <small style="margin-left: 10px"><%= link_to t(:forgot_password, :scope => [ :authenticate ]), forgot_password_path %></small>
    </p>
 
    <p>
      <%= submit_tag t(:login, :scope => [ :authenticate ]) %>
      <%= link_to t(:join, :scope => [ :authenticate ]), new_user_path %>
    </p>
  <% end %>
<% end %>